### 1 List Comprehension

In [2]:
x,y,z,n = [int(input()) for i in range(4)]
print([[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if ((i+j+k) != n)])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

### 2 Find the runup score

In [3]:
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    arr.sort(reverse=True)
   
    for i in range(len(arr)):
        if arr[i]!=arr[i+1]:
            break
        else:
            continue
    print(arr[i+1])

5
2 3 6 6 5
5

### 3 Nested list

In [1]:
records = [[input(),float(input())] for i in range(int(input()))]
second_highest = sorted(set(j for i,j in records))[1]
print("\n".join(sorted(i for i,j in records if j==second_highest)))

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

### 4 Finding the percentage

In [2]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
output = list(student_marks[query_name])    
per = sum(output)/len(output);
print("%.2f" % per);

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

### 5 Lists

In [3]:
if __name__ == '__main__':
    N = int(input())
    l=[]
    for i in range(N):
        c=input().split()
        cmd=c[0]
        
        
        if cmd=="insert":
            l.insert(int(c[1]),int(c[2]))
        if cmd=="print":
            print(l)
        if cmd=="remove":
            l.remove(int(c[1]))
        if cmd=="sort":
            l.sort()
        if cmd=="pop":
            l.pop()
        if cmd=="append":
            l.append(int(c[1]))
        if cmd=="reverse":
            l.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

### 6 Tuples

In [6]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    tup = ()
    for x in integer_list:
        tup+=(x,)
    
    print(hash(tup))

2
1 2
-3550055125485641917

### 7 Introduction to sets

In [3]:
#Itroduction to Sets - Python Hackerrank Solution
def average(array):
    # your code goes here
    return float(sum(set(array))/len(set(array)))
#Itroduction to Sets - Python Hackerrank Solution
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

### 8 No idea

In [4]:
n,m=map(int,input().split())
#take input elements list
c=list(map(int,input().split()))
A=set(map(int,input().split()))
B=set(map(int,input().split()))
#intially count as 0
count=0
for i in c:
    if i in A:
        count+=1
    if i in B:
        count-=1
print(count)

3 2
1 5 3
3 1
5 7
1

### 9 Symmetric Difference

In [5]:
if __name__ == "__main__":
    M = int(input().strip())
    set_m = set(map(int, input().strip().split(' ')))
    
    N = int(input().strip())
    set_n = set(map(int, input().strip().split(' ')))
    
    for j in sorted(set_m ^ set_n):
        print(j)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

### 10 Set .add()

In [6]:
N=int(input())
A=set()
for i in range(N):
    A.add(input())
print(len(A))

7
UK
China
USA
France
New Zealand
UK
France
5

### 11 Set.discord(),.remove() &.pop()

In [7]:
n = int(input())
s = set(map(int, input().split())) # Set of n elements
for i in range(int(input())): # Iterate in range of the input num
    s1 = input().split()
    if s1[0] == 'pop':
        s.pop()
    elif s1[0] == 'remove':
        s.remove(int(s1[1]))
    elif s1[0] == 'discard':
        s.discard(int(s1[1]))
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

### 12 Set.union() operation

In [8]:
# Set .union() Operation hackerrank solution
# Enter your code here. Read input from STDIN. Print output to STDOUT
n=int(input())
s=set(map(int,input().split()))
m=int(input())
r=set(map(int,input().split()))
print(len(s.union(r)))
# Set .union() Operation hackerrank solution

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

### 13 Set.intersection() Operation

In [9]:
_ = int(input())
SET_N = set(map(int, input().split()))
_ = int(input())
SET_B = set(map(int, input().split()))
NEW_SET = SET_N.intersection(SET_B)
print(len(NEW_SET))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

### 14 Set.symmetric_difference()operation

In [10]:
_ = int(input())
SET_N = set(map(int, input().split()))

_ = int(input())
SET_B = set(map(int, input().split()))

NEW_SET = SET_N.symmetric_difference(SET_B)
print(len(NEW_SET))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

### 15 Set mutation

In [12]:
(n, A) = (int(input()), set(input().split()))
n = int(input())
for _ in range(n):
    ((s, i), B) = (input().split(), set(input().split()))
    getattr(A, s)(B)
print(sum(map(int,list(A))))
#Set Mutations - Hackerrank Solution Python

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

### 16 The Captain's Room

In [13]:
from collections import Counter
k = int(input())
arr = list(map(int,input().split()))
print({v:k for k,v in Counter(arr).items()}[1])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

### 17 Check subset

In [1]:
T = int(input())

for _ in range(T):
    a = input()
    A = set(input().split())
    b = int(input())
    B = set(input().split())
    print(A.issubset(B))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

### 18 check strict superset

In [2]:
A=set(map(int,input().split()))
n= int(input())
status=True
for i in range(n):
    B=set(map(int,input().split()))
    if  (B&A !=B) or (B==A):
        status=False
        break
print(status)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False